<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>aboutfounder</title>
  </head>
  <body>

    <form class="" action="/finfo" method="post">

      <input type="String" name="startupname"placeholder="startupname" value="">
      <input type="String" name="problem" placeholder="problem" value="">
      <input type="String" name="ask"placeholder="ask" value="">
      <input type="String" name="about" placeholder="aboutfounder" value="">
      <input type="String" name="additionalinfo"placeholder="additionalinfo" value="">
      <input type="String" name="panno" placeholder="panno" value="">
      <input type="String" name="patent"placeholder="patent" value="">

      <button type="submit" name="button"></button>

    </form>

  </body>
</html>
