<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iInfo</title>
  </head>
  <body>
    <form class="" action="/iinfo" method="post">

      <input type="String" name="experience"placeholder="experience" value="">
      <input type="String" name="country"placeholder="country" value="">
      <input type="String" name="tier"placeholder="tier" value="">
      <input type="String" name="income"placeholder="income" value="">
      <input type="String" name="panno"placeholder="panno" value="">

      <button type="submit" name="button">+SUBMIT+</button>

    </form>

  </body>
</html>
