<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INFO FOR UR SITE</title>
  </head>
  <body>

    <h1>HEY THERE </h1>
    <h2>WELCOME SERIALIZE USER</h2>

  </body>
</html>
