<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>POST DEKHO RE</title>
  </head>
  <body>

       <% posts.forEach(function(post){ %>
         <h1><%= post.username %> </h1>
        <p><%= post.ureview %> </p>
    
      <% }) %>


  </body>
</html>
