<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTER</title>
  </head>
  <body>

    <form action="/register" method="POST">


        <input type="email" class="" name="username" placeholder="username">
        <input type="text" name="name" value="" placeholder="name">
        <input type="String" name="phone" value=""placeholder="phoneno">

        <input type="password" class="" name="password"placeholder="password">

      <button type="submit" class="">Register</button>


      <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign Up with Google
      </a>

      <a class="btn btn-block btn-social btn-google" href="/auth/linkedin" role="button">
        <i class="fab fa-google"></i>
        Sign Up with LinkedIn
      </a>

    </form>

  </body>
</html>
