<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REVIEW</title>
  </head>
  <body>

<form class="" action="/review" method="post">

  <input type="text" name="name" value="">
  <input type="text" name="ureview" value="">

  <button type="submit" name="publish">PUBLISH</button>

</form>





  </body>
</html>
