.investorFormChild {
  position: absolute;
  top: 12.5rem;
  left: 8.06rem;
  border-radius: var(--br-xl);
  background: linear-gradient(
    119.12deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 250, 250, 0.1)
  );
  width: 78.75rem;
  height: 49.94rem;
}
.aboutYou {
  position: absolute;
  top: 16.94rem;
  left: 15.63rem;
  font-size: var(--font-size-2xl);
  display: inline-block;
  color: #fffdfd;
  width: 13.25rem;
  height: 2.81rem;
}
.instanceChild {
  border: 2px solid var(--color-gray-500);
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 3rem;
  left: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 26rem;
  height: 3.69rem;
}
.areYouInvesting {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.rectangleParent {
  position: absolute;
  top: 23.63rem;
  left: 19rem;
  width: 27.31rem;
  height: 6.31rem;
}
.frameDiv,
.rectangleContainer,
.rectangleGroup {
  position: absolute;
  top: 23.63rem;
  left: 51.75rem;
  width: 27.06rem;
  height: 6.31rem;
}
.frameDiv,
.rectangleContainer {
  top: 32.63rem;
  left: 19rem;
}
.frameDiv {
  left: 51.75rem;
}
.frameChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indianred-200);
  position: absolute;
  top: 0;
  left: 10rem;
  border-radius: var(--br-lg);
  width: 69.69rem;
  height: 4.69rem;
}
.submit {
  position: absolute;
  top: 1.31rem;
  left: 41.94rem;
  font-weight: 600;
}
.rectangleParent1 {
  position: absolute;
  top: 53.13rem;
  left: 2.13rem;
  width: 74.31rem;
  height: 4.44rem;
  color: var(--color-white);
}
.rectangleParent2,
.rectangleParent3 {
  position: absolute;
  top: 41.63rem;
  left: 19rem;
  width: 28.31rem;
  height: 6.69rem;
}
.rectangleParent3 {
  top: 41.25rem;
  left: 51.75rem;
}
.investorForm {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 72.06rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
