.ovalIcon {
  position: absolute;
  height: 19.16%;
  width: 4.38%;
  top: 14.37%;
  right: 83.56%;
  bottom: 66.47%;
  left: 12.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.maxblagun {
  position: absolute;
  top: calc(50% - 40px);
  left: 18.63%;
  font-weight: 500;
  color: var(--dark-blue);
}
.weeksAgo,
.woahYourProject {
  position: absolute;
  top: calc(50% - 55.5px);
  left: 32.6%;
  line-height: 1.5rem;
}
.woahYourProject {
  width: 84.66%;
  top: calc(50% - 12.5px);
  left: 12.05%;
  display: inline-block;
}
.rectangleParent {
  position: absolute;
  top: 11.69rem;
  left: 0;
  width: 45.63rem;
  height: 10.44rem;
  overflow: hidden;
}
.monthAgo {
  position: absolute;
  top: calc(50% - 55.5px);
  left: 32.74%;
  line-height: 1.5rem;
}
.group7Copy3Child {
  position: absolute;
  height: 14.37%;
  width: 9.04%;
  top: 16.77%;
  right: 3.29%;
  bottom: 68.86%;
  left: 87.67%;
  overflow: hidden;
}
.group7Copy3,
.ovalIcon2 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.group7Copy3 {
  top: 0;
  width: 45.63rem;
  height: 10.44rem;
}
.ovalIcon2 {
  height: 19.16%;
  width: 4.98%;
  top: 14.37%;
  right: 95.02%;
  bottom: 66.47%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.ramsesmiron {
  position: absolute;
  top: calc(50% - 53.5px);
  left: 7.48%;
  font-weight: 500;
  color: var(--dark-blue);
}
.weekAgo {
  position: absolute;
  top: calc(50% - 55.5px);
  left: 25.86%;
  line-height: 1.5rem;
}
.group7CopyChild {
  position: absolute;
  height: 14.37%;
  width: 10.28%;
  top: 16.77%;
  right: 3.74%;
  bottom: 68.86%;
  left: 85.98%;
  overflow: hidden;
}
.maxblagunIfYoure {
  position: absolute;
  width: 96.26%;
  top: calc(50% - 12.5px);
  left: 0;
  line-height: 1.5rem;
  display: inline-block;
}
.group7Copy,
.group7Copy2Child {
  position: absolute;
  overflow: hidden;
}
.group7Copy {
  top: 0;
  left: 0;
  width: 40.13rem;
  height: 10.44rem;
}
.group7Copy2Child {
  height: 11.38%;
  width: 12.77%;
  top: 17.96%;
  right: 16.04%;
  bottom: 70.66%;
  left: 71.18%;
}
.juliusomo,
.ovalIcon3 {
  position: absolute;
  left: 0;
}
.ovalIcon3 {
  height: 19.16%;
  width: 4.98%;
  top: 5.99%;
  right: 95.02%;
  bottom: 74.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.juliusomo {
  top: calc(50% - 9.5px);
  font-weight: 500;
}
.juliusomoWrapper {
  position: absolute;
  height: 11.38%;
  width: 18.54%;
  top: 10.18%;
  right: 73.99%;
  bottom: 78.44%;
  left: 7.48%;
  overflow: hidden;
  color: var(--dark-blue);
}
.daysAgo {
  position: absolute;
  top: calc(50% - 69.5px);
  left: 28.5%;
  line-height: 1.5rem;
}
.group7Copy2Item {
  position: absolute;
  height: 14.37%;
  width: 8.41%;
  top: 17.37%;
  right: 3.89%;
  bottom: 68.26%;
  left: 87.69%;
  overflow: hidden;
}
.ramsesmironICould {
  position: absolute;
  width: 96.26%;
  top: calc(50% - 26.5px);
  left: 0;
  line-height: 1.5rem;
  display: inline-block;
}
.group7Copy2,
.group7CopyParent {
  position: absolute;
  width: 40.13rem;
}
.group7Copy2 {
  top: 11.94rem;
  left: 0;
  height: 10.44rem;
  overflow: hidden;
}
.group7CopyParent {
  top: 23.38rem;
  left: 5.5rem;
  height: 22.38rem;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 45.63rem;
  height: 9rem;
}
.ovalIcon4 {
  position: absolute;
  top: 1.75rem;
  left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.groupChild {
  border: 0;
  background-color: transparent;
  font-family: var(--heading-m);
  font-size: var(--heading-m-size);
  position: absolute;
  top: 1.5rem;
  left: 5rem;
  width: 31.63rem;
  height: 6rem;
  overflow: hidden;
}
.rectangleCopy {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-indianred-300);
}
.send {
  position: absolute;
  top: calc(50% - 12px);
  left: 28.85%;
  font-size: var(--heading-m-size);
  line-height: 1.5rem;
  font-weight: 500;
  font-family: var(--heading-m);
  color: var(--white);
  text-align: left;
}
.group8Copy {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.5rem;
  left: 37.63rem;
  width: 6.5rem;
  height: 3rem;
  overflow: hidden;
}
.frameParent,
.rectangleGroup {
  position: absolute;
  width: 45.63rem;
}
.rectangleGroup {
  top: 47rem;
  left: 0;
  height: 9rem;
}
.frameParent {
  top: 17.88rem;
  left: 3.63rem;
  height: 56rem;
}
.reviews1 {
  position: absolute;
  top: 10.56rem;
  left: 5.88rem;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-black);
}
.reviews {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 78.06rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-m-size);
  color: var(--color-slategray);
  font-family: var(--heading-m);
}
