.wrapper {
  position: absolute;
  top: 15.63rem;
  left: 8rem;
  background-color: var(--color-gainsboro-100);
  box-shadow: 4px 4px 65px -19px rgba(140, 136, 136, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 78.5rem;
  height: 37.63rem;
}
